body {
	background-color: #002c3e;
}

a {
	color: rgb(255, 145, 0);
}

#container {
	margin: 1%;
	color: whitesmoke;
	font: 20px MonoSpace;
}
#nav {
	display: flex;
	justify-content: center;
}

#nav li {
	margin: 1%;
	color: #002c3e;
}

.top-nav {
	transition: all 0.5s ease;
	color: #115063;
	border: 2px solid rgb(255, 145, 0);
	border-left: 0px;
	border-right: 0px;
	border-radius: 3px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	background-color: #ffffff;
	font-size: 20px;
}

.top-nav:hover {
	margin-top: 1%;
	font-size: 30px;
	padding: 15px;
	border: 4px solid rgb(255, 145, 0);
	border-top: 0px;
	border-bottom: 0px;
}

ul {
	list-style-type: none;
}

#dynamicPara {
	margin-top: 5%;
	margin-left: 2rem;
	font-size: 30px;
	width: 80%;
	height: 15%;
	background-color: #002c3e;
	color: white;
}

#headingMargin {
	margin: 2%;
	line-height: 10pt;
}

.socialButtons {
	display: flex;
	text-align: center;
	margin: 1% -2% 0 -2%;
	background-color: rgb(255, 145, 0);
	padding: 1% 0;
}

.buttons {
	width: 100%;
	color: #115063;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 0 1% 0 0;
	transition: all 0.1s linear;
}

.buttons:hover {
	transform: scale(1.05);
	background-color: #002c3e;
	color: #fff;
}

.star {
	margin-right: 0;
}

.editingTRMargin {
	margin-left: 2em;
	margin-right: 2em;
	padding: 2em;
}

.github-button {
	margin-left: 2em;
	position: relative;
	margin-top: 2em;
}
@media only screen and (max-width: 800px) {
	#top-nav-bar {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		width: 100vw;
		margin: -1% -2%;
	}

	#top-nav-bar a {
		margin: 0;
		width: 100vw;
		left: 0;
		position: relative;
		transition: padding 0.1s linear;
	}

	#top-nav-bar a:hover {
		font-size: 24px;
		background-color: #002c3e;
		color: #fff;
		padding: 5px;
		border: 2px solid rgb(255, 145, 0);
		border-top: 0px;
		border-bottom: 0px;
	}
}
